@model MyFactory.SITInfo.Models.Chamado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Chamado</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="form-control">
            <dt>
                @Html.DisplayNameFor(model => model.EmailUsuario)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EmailUsuario)
            </dd>
        </div>
            <dt>
                @Html.DisplayNameFor(model => model.DataAbertura)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataAbertura)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Prioridade)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prioridade)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Titulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataFechamento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataFechamento)
            </dd>
        </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
