@model MyFactory.SITInfo.Models.Chamado

@{
    ViewBag.Title = "Chamados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>
<style>
    textarea {
        overflow: auto;
        width: 100%;
        height: 100%;
    }

    DataAbertura {
        margin-left: 15px;
    }
</style>
<div class="form-horizontal">
    <hr />


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.DataAbertura, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-control">
            @Html.DisplayFor(model => model.DataAbertura)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EmailUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-control">
            @Html.DisplayFor(model => model.EmailUsuario)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Prioridade, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-control">
            @Html.DisplayFor(model => model.Prioridade)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-control">
            @Html.DisplayFor(model => model.Titulo)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DataFechamento, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-control">
            @Html.DisplayFor(model => model.DataFechamento)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Descricao)
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-primary " })&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-warning " })
        </div>
    </div>
</div>



