@model MyFactory.SITInfo.Models.Usuario

@{
    ViewBag.Title = "Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div class="form-horizontal">
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-control">
            @Html.DisplayFor(model => model.Nome)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-control">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-control">
            @Html.DisplayFor(model => model.Senha)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TipoConta, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="form-control">
            @Html.DisplayFor(model => model.TipoConta)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary " })&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-warning " })
        </div>
    </div>
</div>



